<launch>

  <!--include file="$(find followbot_mechanum)/launch/leg_tracker.launch"/-->

  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find followbot_mechanum)/rviz/followbot_mechanum_2.rviz"/>
  </group>

  <include file="$(find openpose_ros)/launch/openpose_ros.launch"/>

  <!--node name="throttle_1" pkg="topic_tools" type="throttle" args="messages /camera/color/image_raw 60" /-->
  <!--node name="throttle_2" pkg="topic_tools" type="throttle" args="messages /camera/depth/image_rect_raw 60" /-->
  <node name="throttle_3" pkg="topic_tools" type="throttle" args="messages /people_tracked 2" />
  <node name="image_transport" pkg="image_transport" type="republish" args="compressedDepth in:=/camera/depth/image_rect_raw raw out:=/camera/depth/image_rect_raw/decompressed" />
  <node name="image_transport2" pkg="image_transport" type="republish" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw/decompressed" />

</launch>
